POSTGRES_USER=hikmaplay
POSTGRES_PASSWORD=12345678
POSTGRES_DB=hikmaplay
POSTGRES_PORT=5432

DATABASE_URL=postgresql://hikmaplay:12345678@db:5432/hikmaplay
NODE_ENV=development

BETTER_AUTH_SECRET= # generate with openssl rand -base64 32
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
